.App {
  text-align: center;
}

html {
  background: url(./images/background.png);
  position: absolute;
  width: 1440px;
  height: 2480px;
  left: 0px;
  top: 0px;
}

.header {
  position: relative;
  height: 200px;
  left: 17%;
  top: 50%;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 500;
  font-size: 80px;
  line-height: 120%;
  color: #FFFFFF;
  ;
}

.planetas {
  box-sizing: border-box;

  position: absolute;
  width: 1140px;
  height: 98px;
  left: 164px;
  top: 317px;
  text-align: center;

  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1%;

  background: rgba(24, 26, 37, 0.5);
  color: #FFFFFF;;
  mix-blend-mode: hard-light;
  border: 1px solid #FFFFFF;
  border-radius: 17px;
}

.missoes {
  box-sizing: border-box;

  position: absolute;
  width: 1140px;
  height: 99px;
  left: 164px;
  top: 803px;
  text-align: center;

  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1%;
  
  background: rgba(24, 26, 37, 0.5);
  color: #FFFFFF;
  mix-blend-mode: hard-light;
  border: 1px solid #FFFFFF;
  border-radius: 17px;
}

.linha {
  width: 350px;
  position: relative;
  bottom: 45px;
  /* height: 0px;
  left: 557px; */
  /* top: 1037px; */
  
  border: 1px solid #FFFFFF;
}

.Apollo-11-c {
  box-sizing: border-box;

  position: absolute;
  width: 354px;
  height: 281px;
  left: 164px;
  top: 943px;
  
  background: rgba(24, 26, 37, 0.5);
  mix-blend-mode: hard-light;
  border: 1px solid #FFFFFF;
  border-radius: 17px;
}

.Voyager-1-c {
  box-sizing: border-box;

  position: absolute;
  width: 354px;
  height: 281px;
  left: 557px;
  top: 943px;
  
  background: rgba(24, 26, 37, 0.5);
  mix-blend-mode: hard-light;
  border: 1px solid #FFFFFF;
  border-radius: 17px;
}

.Mars-Pathfinder-c {
  box-sizing: border-box;

  position: absolute;
  width: 354px;
  height: 281px;
  left: 950px;
  top: 943px;
  
  background: rgba(24, 26, 37, 0.5);
  mix-blend-mode: hard-light;
  border: 1px solid #FFFFFF;
  border-radius: 17px;
}

.Estação-Internacional-Espacial-c {
  box-sizing: border-box;

  position: absolute;
  width: 354px;
  height: 281px;
  left: 164px;
  top: 1271px;
  
  background: rgba(24, 26, 37, 0.5);
  mix-blend-mode: hard-light;
  border: 1px solid #FFFFFF;
  border-radius: 17px;
}

.Kepler-c {
  box-sizing: border-box;

  position: absolute;
  width: 354px;
  height: 281px;
  left: 557px;
  top: 1266px;
  
  background: rgba(24, 26, 37, 0.5);
  mix-blend-mode: hard-light;
  border: 1px solid #FFFFFF;
  border-radius: 17px;
}

.Cassini-Huygens-c {
  box-sizing: border-box;

  position: absolute;
  width: 354px;
  height: 281px;
  left: 950px;
  top: 1266px;
  
  background: rgba(24, 26, 37, 0.5);
  mix-blend-mode: hard-light;
  border: 1px solid #FFFFFF;
  border-radius: 17px;
}

.Mariner-2-c {
  box-sizing: border-box;

  position: absolute;
  width: 354px;
  height: 281px;
  left: 164px;
  top: 1594px;
  
  background: rgba(24, 26, 37, 0.5);
  mix-blend-mode: hard-light;
  border: 1px solid #FFFFFF;
  border-radius: 17px;
}

.Venera-4-c {
  box-sizing: border-box;

  position: absolute;
  width: 354px;
  height: 281px;
  left: 557px;
  top: 1594px;
  
  background: rgba(24, 26, 37, 0.5);
  mix-blend-mode: hard-light;
  border: 1px solid #FFFFFF;
  border-radius: 17px;
}

.Mariner-5-c {
  box-sizing: border-box;

  position: absolute;
  width: 354px;
  height: 281px;
  left: 950px;
  top: 1594px;
  
  background: rgba(24, 26, 37, 0.5);
  mix-blend-mode: hard-light;
  border: 1px solid #FFFFFF;
  border-radius: 17px;
}

.Mariner-10-c {
  box-sizing: border-box;

  position: absolute;
  width: 354px;
  height: 281px;
  left: 164px;
  top: 1922px;
  
  background: rgba(24, 26, 37, 0.5);
  mix-blend-mode: hard-light;
  border: 1px solid #FFFFFF;
  border-radius: 17px;
}

.Venera-16-c {
  box-sizing: border-box;

  position: absolute;
  width: 354px;
  height: 281px;
  left: 557px;
  top: 1922px;
  
  background: rgba(24, 26, 37, 0.5);
  mix-blend-mode: hard-light;
  border: 1px solid #FFFFFF;
  border-radius: 17px;
}

.MESSENGER-c {
  box-sizing: border-box;

  position: absolute;
  width: 354px;
  height: 281px;
  left: 950px;
  top: 1922px;
  
  background: rgba(24, 26, 37, 0.5);
  mix-blend-mode: hard-light;
  border: 1px solid #FFFFFF;
  border-radius: 17px;
}

.Genesis-c {
  box-sizing: border-box;

  position: absolute;
  width: 354px;
  height: 281px;
  left: 164px;
  top: 2250px;
  
  background: rgba(24, 26, 37, 0.5);
  mix-blend-mode: hard-light;
  border: 1px solid #FFFFFF;
  border-radius: 17px;
}

.Mars-Odyssey-2001-c {
  box-sizing: border-box;

  position: absolute;
  width: 354px;
  height: 281px;
  left: 557px;
  top: 2250px;
  
  background: rgba(24, 26, 37, 0.5);
  mix-blend-mode: hard-light;
  border: 1px solid #FFFFFF;
  border-radius: 17px;
}

.Mars-Surveyor-98-Lander-c {
  box-sizing: border-box;

  position: absolute;
  width: 354px;
  height: 281px;
  left: 950px;
  top: 2250px;
  
  background: rgba(24, 26, 37, 0.5);
  mix-blend-mode: hard-light;
  border: 1px solid #FFFFFF;
  border-radius: 17px;
}

.Nozomi-Planeta-B-c {
  box-sizing: border-box;

  position: absolute;
  width: 354px;
  height: 281px;
  left: 164px;
  top: 2578px;
  
  background: rgba(24, 26, 37, 0.5);
  mix-blend-mode: hard-light;
  border: 1px solid #FFFFFF;
  border-radius: 17px;
}

.Fobos-1-c {
  box-sizing: border-box;

  position: absolute;
  width: 354px;
  height: 281px;
  left: 557px;
  top: 2578px;
  
  background: rgba(24, 26, 37, 0.5);
  mix-blend-mode: hard-light;
  border: 1px solid #FFFFFF;
  border-radius: 17px;
}

.Fobos-2-c {
  box-sizing: border-box;

  position: absolute;
  width: 354px;
  height: 281px;
  left: 950px;
  top: 2578px;
  
  background: rgba(24, 26, 37, 0.5);
  mix-blend-mode: hard-light;
  border: 1px solid #FFFFFF;
  border-radius: 17px;
}

.Galileo-c {
  box-sizing: border-box;

  position: absolute;
  width: 354px;
  height: 281px;
  left: 164px;
  top: 2906px;
  
  background: rgba(24, 26, 37, 0.5);
  mix-blend-mode: hard-light;
  border: 1px solid #FFFFFF;
  border-radius: 17px;
}

.Cassini--Huygens-c {
  box-sizing: border-box;

  position: absolute;
  width: 354px;
  height: 281px;
  left: 557px;
  top: 2906px;
  
  background: rgba(24, 26, 37, 0.5);
  mix-blend-mode: hard-light;
  border: 1px solid #FFFFFF;
  border-radius: 17px;
}

.Apollo-11-n {
  position: relative;
  bottom: 20px;
  text-align: center;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 250%;
  
  color: #FFFFFF;
}

.Voyager-1-n {
  position: relative;
  bottom: 20px;
  text-align: center;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 250%;
  
  color: #FFFFFF;
  
}

.Mars-Pathfinder-n {
  position: relative;
  bottom: 20px;
  text-align: center;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 250%;
  
  letter-spacing: -0.04em;
  
  color: #FFFFFF;
}

.Estação-Internacional-Espacial-n {
  position: relative;
  bottom: 20px;
  text-align: center;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 150%;

  color: #FFFFFF;  
}

.Kepler-n {
  position: relative;
  bottom: 20px;
  text-align: center;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 250%;

  color: #FFFFFF;
}

.Cassini-Huygens-n {
  position: relative;
  bottom: 20px;
  text-align: center;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 250%;

  color: #FFFFFF;
}

.Mariner-2-n {
  position: relative;
  bottom: 20px;
  text-align: center;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 250%;

  color: #FFFFFF;
}

.Venera-4-n {
  position: relative;
  bottom: 20px;
  text-align: center;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 250%;
  
  color: #FFFFFF;
}

.Mariner-5-n {
  position: relative;
  bottom: 20px;
  text-align: center;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 250%;

  color: #FFFFFF;
}

.Mariner-10-n {
  position: relative;
  bottom: 20px;
  text-align: center;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 250%;
  
  color: #FFFFFF;
  
}

.Venera-16-n {
  position: relative;
  bottom: 20px;
  text-align: center;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 250%;
  
  color: #FFFFFF;
}

.MESSENGER-n {
  position: relative;
  bottom: 20px;
  text-align: center;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 250%;
  
  color: #FFFFFF;
}

.Genesis-n {
  position: relative;
  bottom: 20px;
  text-align: center;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 250%;
  
  color: #FFFFFF;
}

.Mars-Odyssey-2001-n {
  position: relative;
  bottom: 20px;
  text-align: center;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 250%;
  
  color: #FFFFFF;
}

.Mars-Surveyor-98-Lander-n {
  position: relative;
  bottom: 20px;
  text-align: center;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 250%;
  
  color: #FFFFFF;
}

.Nozomi-Planeta-B-n {
  position: relative;
  bottom: 20px;
  text-align: center;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 250%;
  
  color: #FFFFFF;
}

.Fobos-1-n {
  position: relative;
  bottom: 20px;
  text-align: center;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 250%;
  
  color: #FFFFFF;
}

.Fobos-2-n {
  position: relative;
  bottom: 20px;
  text-align: center;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 250%;
  
  color: #FFFFFF;
}

.Galileo-n {
  position: relative;
  bottom: 20px;
  text-align: center;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 250%;
  
  color: #FFFFFF;
}

.Cassini--Huygens-n {
  position: relative;
  bottom: 20px;
  text-align: center;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 250%;
  
  color: #FFFFFF;
}

.Apollo-11-m {
  position: relative;
  bottom: 20px;
  text-align: center;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 50%;
  
  color: #FFFFFF;
}

.Voyager-1-m {
  position: relative;
  bottom: 20px;
  text-align: center;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 50%;
  
  color: #FFFFFF;  
}

.Mars-Pathfinder-m {
  position: relative;
  bottom: 20px;
  text-align: center;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 50%;

  color: #FFFFFF;
}

.Estação-Internacional-Espacial-m {
  position: relative;
  bottom: 20px;
  text-align: center;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 50%;
  
  color: #FFFFFF;
}

.Kepler-m {
  position: relative;
  bottom: 20px;
  text-align: center;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 50%;
 
  color: #FFFFFF;
}

.Cassini-Huygens-m {
  position: relative;
  bottom: 20px;
  text-align: center;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 50%;
  
  color: #FFFFFF;
}

.Mariner-2-m {
  position: relative;
  bottom: 20px;
  text-align: center;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 50%;
  
  color: #FFFFFF;
}

.Venera-4-m {
  position: relative;
  bottom: 20px;
  text-align: center;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 50%;
  
  color: #FFFFFF;
}

.Mariner-5-m {
  position: relative;
  bottom: 20px;
  text-align: center;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 50%;
  
  color: #FFFFFF;
}

.Mariner-10-m {
  position: relative;
  bottom: 20px;
  text-align: center;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 50%;
  
  color: #FFFFFF;
}

.Venera-16-m {
  position: relative;
  bottom: 20px;
  text-align: center;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 50%;
  
  color: #FFFFFF;
}

.MESSENGER-m {
  position: relative;
  bottom: 20px;
  text-align: center;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 50%;
  
  color: #FFFFFF;
}

.Genesis-m {
  position: relative;
  bottom: 20px;
  text-align: center;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 50%;
  
  color: #FFFFFF;
}

.Mars-Odyssey-2001-m {
  position: relative;
  bottom: 20px;
  text-align: center;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 50%;
  
  color: #FFFFFF;
}

.Mars-Surveyor-98-Lander-m {
  position: relative;
  bottom: 20px;
  text-align: center;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 50%;
  
  color: #FFFFFF;
}

.Nozomi-Planeta-B-m {
  position: relative;
  bottom: 20px;
  text-align: center;  
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 50%;
  
  color: #FFFFFF;
}

.Fobos-1-m {
  position: relative;
  bottom: 20px;
  text-align: center;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 50%;
  
  color: #FFFFFF;
}

.Fobos-2-m {
  position: relative;
  bottom: 20px;
  text-align: center;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 50%;
  
  color: #FFFFFF;
}

.Galileo-m {
  position: relative;
  bottom: 20px;
  text-align: center;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 50%;
  
  color: #FFFFFF;
}

.Cassini--Huygens-m {
  position: relative;
  bottom: 20px;
  text-align: center;
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  font-size: 23px;
  line-height: 50%;
  
  color: #FFFFFF;
}

.Mercúrio-p {
  position: absolute;
  width: 71px;
  height: 24px;
  left: 115px;
  top: 668px;
  
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%; 
  
  color: #FFFFFF;
}

.Vênus-p {
  position: absolute;
  width: 48px;
  height: 24px;
  left: 255px;
  top: 668px;
  
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  
  color: #FFFFFF;
}

.Terra-p {
  position: absolute;
  width: 41px;
  height: 24px;
  left: 402px;
  top: 668px;
  
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  
  color: #FFFFFF;
}

.Marte-p {
  position: absolute;
  width: 47px;
  height: 24px;
  left: 524px;
  top: 668px;
  
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  
  color: #FFFFFF;
}

.Júpiter-p {
  position: absolute;
  width: 52px;
  height: 24px;
  left: 690px;
  top: 668px;
  
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
 
  color: #FFFFFF;
}

.Saturno-p {
  position: absolute;
  width: 63px;
  height: 24px;
  left: 933px;
  top: 668px;
  
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
 
  color: #FFFFFF;
}

.Urano-p {
  position: absolute;
  width: 47px;
  height: 24px;
  left: 1116px;
  top: 668px;
  
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  
  color: #FFFFFF;
}

.Netuno-p {
  position: absolute;
  width: 58px;
  height: 24px;
  left: 1245px;
  top: 668px;
  
  font-family: 'Epilogue';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;

  color: #FFFFFF;
}

.solar-system {
  height: 282.5351867675781px;
  width: 1231px;
  left: 115px;
  top: 413px;
  border-radius: 0px;
}

.Mercúrio {
  width: 41px;
  height: 31px;
  top: 566px;
  left: 130px;
  position: absolute;
}

.Vênus {
  width: 102px;
  height: 76px;
  top: 543px;
  left: 228px;
  position: absolute;
}

.Terra {
  height: 79px;
  width: 106px;
  left: 369px;
  top: 542px;
  border-radius: 0px;
  position: absolute;
}

.Marte {
  height: 50px;
  width: 66px;
  left: 514px;
  top: 556.000244140625px;
  border-radius: 0px;
  position: absolute;
}

.Júpiter {
  position: absolute;
  width: 272px;
  height: 204px;
  left: 580px;
  top: 464px;
}

.Saturno {
  position: absolute;
  width: 282.41px;
  height: 210.9px;
  left: 785px;
  top: 493.35px;
  transform: rotate(-16.53deg);
}

.Urano {
  position: absolute;
  width: 144px;
  height: 109px;
  left: 1068px;
  top: 522px;
}

.Netuno {
  position: absolute;
  width: 144px;
  height: 107px;
  left: 1202px;
  top: 522px;
}

#card:hover {
  opacity: 0.5;
}

.miplas:hover {
  opacity: 0.5;
}

.Netuno:hover {
    transform: scale(1.30);
    animation-play-state: paused;
}

.Urano:hover {
  transform: scale(1.30);
  animation-play-state: paused;
}

.Saturno:hover {
  transform: scale(1.0);
  animation-play-state: paused;
}

.Júpiter:hover {
  transform: scale(1.2);
  animation-play-state: paused;
}

.Marte:hover {
  transform: scale(2.0);
  animation-play-state: paused;
}

.Terra:hover {
  transform: scale(1.30);
  animation-play-state: paused;
}

.Vênus:hover {
  transform: scale(1.30);
  animation-play-state: paused;
}

.Mercúrio:hover {
  transform: scale(2.5);
  animation-play-state: paused;
}

.Netuno-p:hover {
  transform: scale(1.35);
  animation-play-state: paused;
}


.Urano-p:hover {
  transform: scale(1.35);
  animation-play-state: paused;
}

.Saturno-p:hover {
  transform: scale(1.35);
  animation-play-state: paused;
}

.Júpiter-p:hover {
  transform: scale(1.35);
  animation-play-state: paused;
}

.Marte-p:hover {
  transform: scale(1.35);
  animation-play-state: paused;
}

.Terra-p:hover {
  transform: scale(1.35);
  animation-play-state: paused;
}

.Vênus-p:hover {
  transform: scale(1.35);
  animation-play-state: paused;
}

.Mercúrio-p:hover {
  transform: scale(1.35);
  animation-play-state: paused;
}

.header:hover {
  opacity: 0.3;
}